# Python
backend/.venv/
backend/__pycache__/
backend/*.pyc

__pycache__/
*.pyc
.venv/
node_modules/
.env

# Node
frontend/node_modules/

# Environment
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db